<div ng-controller="ProductCtrl">
<center><h3>Products</h3></center>

  <div class="panel-body table-bordered" ng-repeat="product in products">
    <center>
      <h3>{{product.name}}</h3>
      <label>Price: {{product.price}}</label>
      <label>Sku: {{product.sku}}</label>
      <input type="number" ng-model="quantity">
      <button type = "button" ng-click = "addProduct(product, quantity)">Buy Now</button></center>
  </div>
  <h2>Order Totals</h2>
  <div ng-repeat="order in orders">
  <h4>Product</h4>
    <h3>{{order.lineItem}}</h3>
  </div>

</div>

